body {
    font-family: Arial, sans-serif;
    margin-top: 2em;
    padding: 0;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center; /* Zentriert alles horizontal */
    align-items: center;     /* Zentriert alles vertikal */
}

.editor-container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.toolbar {
    padding: 10px;
    margin-bottom: 10px;
    text-align: left; /* Menü-Punkte linksbündig */
}

button {
    margin-right: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #05595B;
    color: #F5F5F5;
    font-weight: bold;
    border: none;
    border-radius: 7px;
}

/* Editor mit schwarzer Umrandung sichtbar machen */
.editor {
    border-radius: 5px;
    box-shadow: #ddd 0 0 12px; /* Schatten */
    height: 800px;
    padding: 2em;
    font-size: 16px;
    line-height: 1.5;
    overflow-y: auto;
    display: block; /* Sicherstellen, dass der Editor sichtbar ist */
    width: 100%;    /* Vollbreite des Containers */
    box-sizing: border-box; /* Damit padding und border nicht zur Breite addiert werden */
    background-color: #F8F8F8;
}
